<h1>Books#new</h1>

<div class =field >
    <label for="book_title">Title</label>
    <%= f.text_field :title %>
</div>

<div class =field >
    <label for="book_body">Body</label>
    <%= f.text_area :body %>
</div>
<div class = actions>
    <%= f.submit ' Update Book '%>
</div>